{
  "openapi": "3.0.0",
  "info": {
    "title": "Unruggable Launcher API",
    "description": "API for the Unruggable token launchpad on Base. Query launched tokens, infrastructure tokenomics, reactor status, and metadata.",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://tasern.quest/api/unruggable" }
  ],
  "paths": {
    "/tokenomics": {
      "get": {
        "operationId": "getTokenomics",
        "summary": "Get infrastructure token overview, reactor chain mechanics, and agent opportunity thesis",
        "description": "Returns full breakdown of MfT, cbBTC, WETH, AZUSD, CHAR infrastructure tokens, the reactor fire chain, upstream fee mechanics, and actionable strategies for agents.",
        "responses": {
          "200": {
            "description": "Infrastructure tokenomics data"
          }
        }
      }
    },
    "/all": {
      "get": {
        "operationId": "getAllTokens",
        "summary": "List all launched tokens with metadata",
        "responses": {
          "200": {
            "description": "Array of token metadata objects"
          }
        }
      }
    },
    "/metadata/{address}": {
      "get": {
        "operationId": "getTokenMetadata",
        "summary": "Get metadata for a specific launched token",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Token contract address"
          }
        ],
        "responses": {
          "200": { "description": "Token metadata" },
          "404": { "description": "Token not found" }
        }
      }
    },
    "/image/{address}": {
      "get": {
        "operationId": "getTokenImage",
        "summary": "Get token image",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Token contract address"
          }
        ],
        "responses": {
          "200": { "description": "Image file" },
          "404": { "description": "No image" }
        }
      }
    },
    "/factory": {
      "get": {
        "operationId": "getFactoryInfo",
        "summary": "Get factory contract info and recent launches",
        "responses": {
          "200": { "description": "Factory info with recent launches" }
        }
      }
    },
    "/reactor/{address}": {
      "get": {
        "operationId": "checkReactor",
        "summary": "Check if an address is a registered reactor",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Contract address to check"
          }
        ],
        "responses": {
          "200": { "description": "Reactor status" }
        }
      }
    }
  }
}
